<div class="container" style="padding: 10px">
    <div class="col-md-4">
        <h3 class="red">Related Organizations</h3>
        <hr>
        <small *ngFor = "let items of data">{{items.related_organizations}}, </small> 
    </div>
</div>
 